<div class="section">
  <div class="content">
    <div @fade>
      <p>Hello, my name is</p>
      <h1>Anooshik Vartanian</h1>
      <p class="main">
        I am a Backend Software Engineer with years of experience building scalable and reliable
        applications. My primary expertise lies in Java development using the Spring Boot framework, where I design and
        implement RESTful APIs, microservicesand distributed backend systems. Throughout my career, I have contributed
        both to building systems from the ground up and to evolving large existing platforms.
      </p>

      <p class="main">
        In addition to backend development, I have experience building frontend components and administration interfaces
        using Angular. This allows me to collaborate effectively across the full development stack when needed,
        particularly when creating internal tools, dashboardsand management portals.
      </p>

      <p class="main">
        I enjoy continuously learning and expanding my technical skill set. Currently, I am exploring game development
        with Unity and C#, combining my software engineering background with creative development.
      </p>
    </div>
    <div class="image" @fadeUp>
      <div class="wrapper">
        <div class="img">
          <div style="max-width: 500px; display: block;"><img alt="" role="presentation" aria-hidden="true"
              src="data:image/svg+xml;charset=utf-8,%3Csvg height='500' width='500' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3C/svg%3E"
              style="max-width: 100%; display: block; position: static;"></div>
          <div aria-hidden="true" data-placeholder-image=""
            style="opacity: 0; transition: opacity 500ms linear 0s;      position: absolute; inset: 0px; object-fit: cover;">
          </div>
          <img src="https://anooshik.am/assets/meeee.png" style="object-fit: cover;opacity: 1;    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;" />
        </div>
      </div>
    </div>
  </div>
</div>