<nav>
  <div></div>
  <div>
    <ol class="navigation">
      <li>
        <a href="#about"><span>00</span>About</a>
      </li>
      <li><a href="#experience"><span>01</span>Experience</a></li>
      <li><a href="#work"><span>10</span>Work</a></li>
      <li><a href="#contact"><span>11</span>Contact</a></li>
      <li><a id="resume" href="https://anooshik.am/assets/Anooshik-Resume_2026.pdf" target="_blank">Get My Resume</a>
      </li>
    </ol>
  </div>

</nav>
<div id="menu">
  <div id="menu-bar" (click)="menuOnClick()">
    <div id="bar1" class="bar"></div>
    <div id="bar2" class="bar"></div>
    <div id="bar3" class="bar"></div>
  </div>
  <nav class="nav" id="nav">
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#work">Work</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</div>

<div class="menu-bg" id="menu-bg"></div>