<div class="section">
	<h3>Get In Touch</h3>

	<p>My inbox is always open, if there are any new opportunities I can help with, I will try my best to get back to
		you!</p>
	<a class="button" href="mailto:vartanian.anooshik@gmail.com">Say hi!</a>

	<div class="social">
		<br />
		<br />
		You can also find me on the following external sites:
		<ul>
			<li> <a target="_blank" href="https://www.linkedin.com/in/anooshikvrtn">linkedin</a></li>
			<li> <a target="_blank" href="https://www.upwork.com/freelancers/~01094659b026ea2818/">upwork</a></li>
			<li> <a target="_blank" href="https://github.com/anooshik-v">github</a></li>
			<li> <a target="_blank" href="https://anooshik.am">website</a></li>
		</ul>
	</div>
	<br />
	<a id="resume" class="button" href="https://anooshik.am/assets/Anooshik-Resume_2026.pdf" target="_blank">Get My
		Resume</a>
	<br />

</div>